body{
    padding: 0;
    margin: 0;
    background-color: #272727;
    font-family: Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}

main{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
header{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 50px 0 50px;
    justify-content: space-between;
    background-color: #272727;
}

.logo{
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
}
.cart-container{
    display: flex;
    align-items: center;
    gap: 5px;
    background: linear-gradient(to left, rgb(173, 154, 255), rgb(149, 110, 255));
    border-radius: 20px;
    padding: 5px 10px;
    position: relative;
 }
 
 
 .cart-container span{
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 3px;
    background-color: white;
    border-radius: 100px;
    color: black;
 }
 

.search{
    font-size: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
    color: #dee2e6;
    background-color: #212529;
   
 }
 
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 20px 10px;
    color: white;
    width: 320px;
    background-color: #4b4a4a;
    font-family: 'Courier New', Courier, monospace;
}
.item img{

    width: 250px;
    max-height: 350px;
}


.item h2{
    font-size: 25px;
    margin: 0;
}

.item-desc{
    margin: 0;
    font-size: 13px;
}
.item-price{
    color: #9a83ff;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.item-buy{
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    padding: 12px;
    width: fit-content;
    font-size: 20px;
    background-color: aqua;
}

.cart-heading{
    margin:0;
    color:white;
}

.cart-items-middle{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-items-middle{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.cart-item img{
    max-width: 250px;
    max-height: 250px;
}
.cart-item-left{
    display: flex;
    gap: 20px;
    align-items: center;
}
.cart-item p{
    font-size: 30px;
}

.cart-item span{
    font-size: 23px;
}

.quantity-input{
    width: 40px;
    padding: 10px;
    border-radius: 10px;
    overflow: none;
    border: none;
}
.total{
    font-size: 25px;
    color: white;
}
.total-price{
    color: rgb(149, 110, 255);
}
.confirm-button{
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    padding: 12px;
    width: fit-content;
    font-size: 20px;
    background: linear-gradient(to left, rgb(173, 154, 255), rgb(149, 110, 255));
 }
 
footer{
    background-color: #494949;
    padding: 30px;
    color: #c8c8c8;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top:1px solid black;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

footer img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
footer img:hover {
    transform: scale(1.1);
}